.dashicons-before.options-icon:before {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-right: 5px;
}

#alm_avito_ads_monitor_settings .form-wrap p, #alm_avito_ads_monitor_settings p.description, #alm_avito_ads_monitor_settings p.help, #alm_avito_ads_monitor_settings span.description {
    display: block;
}

.last-monitor-holder {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c4d3f6;
    border-radius: 25px;
    max-width: 900px;
}

.last-monitor-holder .title-block p {
    font-size: 14px;
}

.last-monitor-holder h2 {
    padding: 20px;
    border-bottom: 1px dashed;
    text-align: center;
}

.last-monitor-descr {
    text-align: center;
}

.last-monitor-wrapper {
    position: relative;
}

.last-monitor-loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, .8);
    background-image: url("../img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.last-monitor-table, .last-monitor-option-table {
    display: table;
    width: 100%;
}

.last-monitor-table .row, .last-monitor-option-table .row {
    display: table-row;
}

.last-monitor-option-table {
    border-top: 1px dashed #fff;
}

.table-scrolling-container {
    max-height: 500px;
    overflow-y: scroll;
}

.last-monitor-table .row .cell, .last-monitor-option-table .row .cell {
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    padding: 20px;
}

.table-header {
    overflow: hidden;
    padding: 20px;
    font-weight: bold;
    background: #6c7ae0;
    font-size: 14px;
    color: #000;
    text-align: center;
}

.table-header .keyword-heading {
    margin: 0;
}

a.open-container {
    color: white;
}

.last-monitor-table .monitor-item {
    border-bottom: 1px solid #fff;
}

.last-monitor-table .row:last-child .monitor-item {
    border-bottom: none;
}

.last-monitor-table .row.new {
    background: #fbc3d5;
}

.last-monitor-table .monitor-item.image {
    text-align: center;
}

.monitor-item a.exclude-item {
    color: #FF6699;
    font-weight: bold;
}

.monitor-item a.exclude-item:focus {
    box-shadow: none;
    outline: 0;
}

.monitor-item a.exclude-item:hover {
    color: white;
}

.monitor-item .bulk-checkbox-holder {
    margin-top: 15px;
}

.bulk-checkbox-holder .checkcontainer input {
    margin-top: 11px;
}

.bulk-checkbox-holder .bulk-checkbox-title {
    margin-right: 10px;
    display: block;
    max-width: 100px;
    float: left;
}

.clearfix {
    clear: both;
}